<div class="container confirm">
    <div class="row">
        <h4>本当に退会しますか？</h4>
    </div>
    <div class="row">
        <p>退会すると、会員登録情報や<br>
            これまでの購入履歴が閲覧できなくなります。<br>
            退会する場合は、「退会する」をクリックしてください。</p>
    </div>
    <div class="row">
        <tr>
            <td>
                <%= link_to "退会しない", edit_user_path(current_user), class: "btn btn-primary" %>
            </td>
            <td>
                <%# is_member_statusがtrueに変更 %>
                <%= link_to "退会する", users_hide_path(current_user), method: :put, data: {confirm: "本当に退会しますか?"}, class: "btn btn-danger" %>
            </td>
        </tr>
    </div>
</div>