<h3 class="explanation">会員詳細</h3>
<p>レギュラー会員：0pt~99pt</p>
<p>シルバー会員：100pt~299pt</p>
<p>ゴールド会員：300pt~999pt</p>
<p>プラチナ会員：1000pt~2999pt</p>
<p>ダイヤモンド会員：3000pt~9999pt</p>

<h3 class="explanation">ポイント詳細</h3>
<p>レシピ投稿：10pt</p>
<p>ブックマーク：5pt</p>
<p>フォロー：3pt</p>