<table>
  <thead>
    <tr>
      <th>名前</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |f| %>
    <tr>
      <td><%= link_to f.name,user_path(f) %></td>
      <% if admin_signed_in? %>
      <td><%= link_to '編集する',edit_user_path(f) %></td>
      <% end %>
    </tr>
    <tr>
      <% if admin_signed_in? %>
      <% if user.is_member_status == false %>
      <span class="text-success">有効会員</span>
      <% else %>
      <span class="text-danger">退会済み</span>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @user_pointrank.each do |f| %>
    <tr>
      <td><%= link_to f.name,user_path(f) %></td>
      <% if admin_signed_in? %>
      <td><%= link_to '編集する',edit_user_path(f) %></td>
      <% end %>
    </tr>
    <tr>
      <% if admin_signed_in? %>
      <% if user.is_member_status == false %>
      <span class="text-success">有効会員</span>
      <% else %>
      <span class="text-danger">退会済み</span>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>