<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= render 'recipes/search', genre: @genres,category: @categories %>
    </div>
    <%= render 'recipes/recipe_form' %>
  </div>
</div>