<div class="container">
 <h2>レシピ一覧</h2>
 <div class="row">
  <div class="col-xs-2">
     <%= render 'recipes/search', genre: @genres,category: @categories %>
   </div>
      <table class="table table-borderless">
        <table>
          <thead>
            <tr>
              <th>レシピ名</th>
              <th>画像</th>
            </tr>
          </thead>
          <tbody>
            </table>
              <% @recipes.each do |recipe|%>
            <tr>
              <%= link_to recipe_path(recipe) do %>
              <td><%= recipe.name %></td>
              <td><%= image_tag recipe.recipe_images[0].recipe_image.to_s %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </table>
</div>
