<h1>通知一覧</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%　notifications = @notifications.where.not(visitor_id: current_user.id) %>
      <% if @notifications.exists? %>
      <%= render @notifications %>
      <%= paginate @notifications %>
      <% else %>
      <p> 通知はありません</p>
      <% end %>
    </div>
  </div>
</div>