<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>名前</th>
                        <th>編集する</th>
                        <th>ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |f| %>
                    <tr>
                        <td><%= link_to f.name,admins_user_path(f) %></td>
                        <% if admin_signed_in? %>
                        <td>
                            <%= link_to '編集する',edit_admins_user_path(f) %>
                        </td>
                        <% end %>
                        <td>
                            <% if admin_signed_in? %>
                            <% if f.is_member_status == false %>
                            <span class="text-success">有効会員</span>
                            <% else %>
                            <span class="text-danger">退会済み</span>
                            <% end %>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>