/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require bxslider
 * require_tree .
 * require_self
 */
@import "bootstrap";
@import "*";

element.style {
    display: block;
}



.new_user {
    display: block;
}

.mypage {
    float: left;
    padding-left: 20px;
}

.searchbox {
    float: left;
}

.explanation {
    text-align: center;
}

.item-num-0 {
    width: 100%;
}

.item-num-1 {
    width: 491px;
}

.item-num-2 {
    width: 363px;
}

.item-num-3 {
    width: 234px;
}

.item-num-4 {
    width: 106px;
}

//下段のfile_field
.item-num-5 {
    width: 100%;
}

.item-num-6 {
    width: 491px;
}

.item-num-7 {
    width: 363px;
}

.item-num-8 {
    width: 234px;
}

.item-num-9 {
    width: 106px;
}



.form-wrapper {
    background: #fafafa;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
    text-align: center;
    display: block;

    h2 {
        text-align: center;
        padding: 1em 0;
    }
}

.form-item {
    margin-bottom: 0.75em;
    width: 100%;
}

.field {
    margin: 0 auto;
}

.flash {
    text-align: center;
}

.errors {
    background-color: #fcc;
}

.followindex {
    text-align: center;
}

.bxslider {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}