// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* フッタと同じ高さに設定 */
  margin-bottom: 60px;
  /* 一番下までスクロールした時の余白 */
  padding-bottom: 0;
  background-color: #FFEFD5;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

header {
  height: 100px;
  align-items: right;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  flex: 0 0 32px;
  align-self: center;
  margin-left: 16px;
  text-align: center;
  color: #fff;
  position: fixed;
  /*上端との距離*/
  top: 0;
}

.hamburger-image {
  position: fixed;
  /*上端との距離*/
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  float: right;
}

.show {
  transform: translate3d(-150px, 0, 0, );
}

.hum-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  float: left;
}

.hum-logo1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


#nav {
  width: 150px;
  height: 100%;
  right: -150px;
  top: 0;
  position: fixed;
  background-color: #aaa;
  text-align: center;
}

#nav ul {
  text-align: left;
}



.show {
  transform: traslate3d(150px, 0, 0, );
}

nav {
  text-align: right;
}

header ul {
  display: flex;
  list-style: none;
  display: inline-block;
  text-align: right;
}

header ul li {
  margin-left: 15px;
  list-style: none;
  padding-right: 15px;
  text-align: right;
  display: inline-block;
}

.main-top {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
}

.main-visual {
  height: 500px;
  background-image: image-url("main-visual-image.jpg");
  background-size: cover;
  width: 90%;
  margin: 0 auto;
}

.main-visual-content {
  text-align: left;
}

.main-visual-name {
  padding-top: 60px;
  font-size: 150px;
  text-shadow: -3px -3px 1px #f00, 3px 3px 5px #00f;
  font-family: 'Ubuntu Mono', monospace;
}


.main-visual-text {
  font-size: 20px;
  text-shadow: 3px 3px 0 #f00;
}

.setting {
  height: 50px;
}

#repipi {
  height: 1000px;
  width: 100%;

}

.repipi-content {
  text-align: center;
}

.recipe-content-name {
  text-align: center;
  font-size: 60px;
  font-family: 'Ubuntu Mono', monospace;
}

.logo-image-1 {
  text-align: center;
  margin: 0 auto;
}

.logo {
  border-radius: 50%;
}

.logo-image {
  height: 300px;
  width: 300px;
  margin: 2px 2px;
  background-image: image-url("095400.png");
  flex-wrap: wrap;
  margin-left: 110px;
  border-radius: 50%;
}

.logo-image-prof {
  height: 300px;
  width: 300px;
  margin: 2px 2px;
  color: gray;
  margin-left: 110px;
  border-radius: 50%;
}

.recipe_showimage1 {
  width: 60%;
  height: 200px;

}

.repipi-content-text {
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.repipi-human {
  height: 300px;
  width: 300px;
  display: flex;
}

.post__drop__box__container {
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;
}


.post__drop__box__container {
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;
}

.new_recipeindex {
  text-align: center;
}

.new_recipe_content {
  text-align: center;
}

.prof_link {
  text-align: center;
}

//プレビュー表示欄のCSS
.prev-content {
  display: flex;
}

.preview-box {
  height: 162px;
  width: 112px;
  margin: 0 15px 10px 0;
}

.upper-box {
  height: 112px;
  width: 100%;
}

.recipe-image-show {
  display: flex;
  flex-wrap: wrap;

  img {
    display: flex;
    flex-wrap: wrap;
    width: 112px;
    height: 112px;
  }
}

.lower-box {
  display: flex;
  text-align: center;
}

.update-box {
  color: #00b0ff;
  width: 50%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #eee;
  background: #f5f5f5;
  cursor: pointer;
}

.delete-box {
  color: #00b0ff;
  width: 50%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #eee;
  background: #f5f5f5;
  cursor: pointer;
}

//投稿クリックエリアのCSS
.label-content {
  margin-bottom: 10px;
  width: 620px;
}

.label-box {
  display: block;
  border: 1px dashed #ccc;
  position: relative;
  background: #f5f5f5;
  width: 100%;
  height: 162px;
  cursor: pointer;
}

.text-visible {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}



.label-content {
  margin-bottom: 10px;
  width: 620px;
}

.label-box {
  display: block;
  border: 1px dashed #ccc;
  position: relative;
  background: #f5f5f5;
  width: 100%;
  height: 162px;
  cursor: pointer;
}

.__text-visible {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}



.recipe-image-show {

  opacity: 0.6;
  filter: brightness(110%);
}

.recipe-image-show:hover {

  opacity: 1.0;
  filter: brightness(100%);
  transform: scale(1.5, 1.5);
}







#wrapper {
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  /*←相対位置*/
  padding-bottom: 60px;
  /*←footerの高さ*/
  box-sizing: border-box;
  /*←全て含めてmin-height:100vhに*/
  transition: transform 0.5s;
}

#wrapper,
#nav {
  transition: transform 0.5s;
}

footer {
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  height: 60px;
}

.footer-text {
  text-align: center;
  font-size: 10px;
  line-height: 30px;
}

p {
  text-align: center;
}



.recipe_showimage {
  height: 230px;
  width: 260px;
  padding-left: 30px;

  & image_tag {
    height: 300px;
    width: 300px;

  }


}

.recipe_showimage_search {
  height: 180px;
  width: 200px;
  padding-left: 20px;
}


.p-top {
  min-width: 960px;

  &__title {
    text-align: center;
    font-size: 16px;
  }

  &__introduce {
    margin: 0 auto;

    th {
      padding: 0 15px;
    }

    td {
      padding: 0 15px;
    }
  }

  &__paginate {
    text-align: center;
    margin: 0 auto;
  }
}

.pagination>li>a {
  border: none;
  /*枠線をなくす*/
  color: #696969;
  /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {

  background: #93C9FF;
  /*背景の色を変える*/
  border-radius: 15px;
  /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
  /*角を丸くする*/
}

.recipe_user_showimage {
  height: 250px;
  width: 250px;
}

.recipe_td {
  text-align: center;
}

.recipe_th {
  text-align: center;
  margin: auto;
  width: 180px;
}

.recipe-rank {
  text-align: center;
  margin: 0 auto;
}



.flex_test-box {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  /* 余白指定 */
  display: flex;
  margin: 0 auto;
  /* フレックスボックスにする */
}

.flex_test-item {
  padding: 5px;
  margin: 5px;
  /* 外側の余白 */
  border-radius: 5px;
  /* 角丸指定 */
  width: 200px;
  /* 幅指定 */
}



.table table-hover {
  border: 1px black solid;
  margin: 30px 0px;
}

.table-hover {
  border-collapse: collapse;
  table-layout: fixed;
}

.table-hover th,
.table-hover td {
  border: 1px solid #CCCCCC;
  padding: 5px 10px;
  text-align: left;
}

.profile {
  width: 100%;
  padding-bottom: 90px;
  background-color: #ECEFF1;
}

.profile-content {
  width: 1024px;
  margin: 0 auto;
}

.content-name-prof {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  text-align: center;
}

.pro-image {
  width: 512px;
  float: left;
  margin-top: 30px;
}

.profile-image {
  height: 250px;
  width: 250px;
  margin: auto 128px;
  border-radius: 50%;
}

.profile-text {
  float: left;
  margin-top: 30px;
}

.content-text-prof {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: #000000;
}

strong {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-text p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}



@media screen and (max-width:425px) {
  .navbar-expand-lg ul li {
    float: none;
  }

  .search_g_and_c {
    display: none;
  }

  .main-visual-name {
    font-size: 40px;
  }

  .main-visual {
    height: 200px;
  }

  .recipe-content-name {
    text-align: center;
  }

  .logo {
    height: 150px;
    width: 150px;
  }

  .repipi-content-text {
    font-size: 10px;
    line-height: 20px;
  }

  .repipi-human {
    height: 120px;
    display: flex;
  }

  .logo-image {
    height: 100px;
    width: 100px;
    margin: 2px 2px;
    flex-wrap: wrap;
    margin-left: 20px;
    border-radius: 50%;
  }

  #repipi {
    height: 500px;
  }

  .new_recipeindex {
    display: flex;
    height: 350px;
  }

  .new_recipe_content {
    width: 100%;
  }



  .user_index {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .flex_test-box {
    width: 90%;
  }



  .recipe_showimage1 {
    width: 60%;
    height: 130px;

  }




}